<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument><files><clear /><add value="index.html" /></files></defaultDocument>
    <rewrite>
      <rules>
        <rule name="API Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8000/api/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="Legacy Game Project" stopProcessing="true">
          <match url="^games/(wuwa|hsr|genshin|zzz)(?:/index\.html)?/?$" />
          <action type="Rewrite" url="/_projects/{R:1}/index.html" appendQueryString="true" />
        </rule>
        <rule name="Legacy Account Project" stopProcessing="true">
          <match url="^account/index\.html$" />
          <action type="Rewrite" url="/_projects/account/index.html" appendQueryString="true" />
        </rule>
        <rule name="Fixed Page Shell" stopProcessing="true">
          <match url="^(wuwa|hsr|genshin|zzz|hna|redeem|account|admin)/?$" />
          <action type="Rewrite" url="/index.html" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Cache-Control" value="no-store, no-cache, must-revalidate, max-age=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
